extends base

block content
  h1(class="col-3 offset-1") New Item
  div(class="container col-xs-6 col-sm-4 offset-sm-1")
    form(action=`/users/${user.id}/items/newItem` method="POST")
      div(class="form-group")
        label Item Name:
        input(type="text" name="name" class="form-control")
      div(class="form-group")
        label Quantity:
        input(type="text" name="quantity" class="form-control")
      input(type="submit" value="Add Item" class="btn btn-primary")