extends base

block content
  form(action=`/users/${user.id}/items/newItem` method="POST")
    label Item:
    input(type="text" name="name")
    label Quantity
    input(type="text" name="quantity")
    input(type="submit" value="Add Item")