extends base

block content
  div(class="card col-10 offset-1")
    div(class="card-body")
      h1(class="card-title") Oops! Something broke...
      p(class="card-text") #{error}
  div(class="form-group mt-2 offset-4")
    form(action="/")
      input(type="submit" value="Go Home" class="btn btn-primary")