extends base

block content
  if username
    h1(class="col-6 offset-1") Log in
    br
    br
    div(class="container col-xs-6 col-sm-4 offset-sm-1")
      form(action='/users/login' method="POST")
        div(class="form-group")
          label User name:
          input(type="text" name="username" value=`${username}` class="form-control")
        div(class="form-group")
          label Password:
          input(type="password" name="password" class="form-control")
        input(type="submit" value="Log in" class="btn btn-primary")

    div(class="col-5 offset-1 mt-5 d-flex justify-content-around")
      h4 Not #{username}? 
      div(class="form-group")
        form(action="/users/signup")
          input(type="submit" value="Sign up" class="btn btn-info")
      div(class="form-group")  
        form(action="/users/login/diff")
          input(type="submit" value="Log in under a different user" class="btn btn-success")
  else 
    h1(class="col-6 offset-1") Log In
    br
    br
    div(class="container col-xs-6 col-sm-4 offset-sm-1")
      form(action='/users/login' method="POST")
        div(class="form-group")
          label User name:
          input(type="text" name="username" class="form-control")
        div(class="form-group")
          label Password:
          input(type="password" name="password" class="form-control")
        input(type="submit" value="Log in" class="btn btn-primary")
