extends base

block content
  h1 Sign Up

  form(action="/users/signup" method="POST")
    label User name:
    input(type="text" name="username")
    label Password:
    input(type="password" name="password")
    label Confirm Password:
    input(type="password" name="confirmPassword")
    label Admin?
    select(name="isAdmin")
      option(value="false" selected) False
      option(value="true") True
    input(type="submit" value="Sign up")
  p Please make your password at least 8 characters long
