extends base

block content
  h1 Hi #{user.username}, there is not much here yet

  form(action=`/users/${user.id}/edit`)
    input(type="submit" value="Edit user")

  form(action="/users/logout")
    input(type="submit" value="Logout")