extends base

block content
  h2(class="col-10 offset-1") Please enter admin password
  br
  div(class="container col-xs-6 col-sm-4 offset-sm-1")
    form(action="/users/signup" method="POST")
      div(class="form-group")
        label User name:
        input(type="text" name="username" class="form-control" value=`${tempUser.username}`)
      div(class="form-group")
        label Password:
        input(type="password" name="password" class="form-control" value=`${tempUser.password}`)
      div(class="form-group")
        label Confirm Password:
        input(type="password" name="confirmPassword" class="form-control" value=`${tempUser.confirmPassword}`)
      div(class="form-group")
        label Admin?
        select(name="isAdmin" class="form-control")
          option(value="false") False
          option(value="true" selected) True
      div(class="form-group")
        label Admin Password:
        input(type="password" name="adminPassword" class="form-control")
      input(type="submit" value="Sign up" class="btn btn-primary")
